#
# {{ ansible_managed }}
#

######### Conf ######################
ServerTokens ProductOnly
KeepAlive On
MaxKeepAliveRequests 500
KeepAliveTimeout 5

####### Prefork MPM #########################
<IfModule prefork.c>
StartServers       20
MinSpareServers    10
MaxSpareServers    40
ServerLimit       250
MaxClients        250
MaxRequestsPerChild  4000
ListenBackLog   1000
</IfModule>

TraceEnable Off
ServerSignature Off
FileETag none


LoadModule alias_module modules/mod_alias.so
LoadModule authz_host_module modules/mod_authz_host.so
LoadModule autoindex_module modules/mod_autoindex.so
LoadModule deflate_module modules/mod_deflate.so
LoadModule dir_module modules/mod_dir.so
LoadModule expires_module modules/mod_expires.so
LoadModule headers_module modules/mod_headers.so
LoadModule log_config_module modules/mod_log_config.so
LoadModule mime_magic_module modules/mod_mime_magic.so
LoadModule mime_module modules/mod_mime.so
LoadModule negotiation_module modules/mod_negotiation.so
LoadModule rewrite_module modules/mod_rewrite.so
LoadModule setenvif_module modules/mod_setenvif.so

ServerName {{ ansible_hostname }}.localdomain

Listen 80


ErrorLog logs/error_log
LogLevel warn
LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
LogFormat "%h %l %u %t \"%r\" %>s %b" common
LogFormat "%{Referer}i -> %U" referer
LogFormat "%{User-agent}i" agent
CustomLog logs/access_log combined

User apache
Group apache



Include conf.d/*.conf


