Listen 8080
<VirtualHost *:8080>
  ServerAdmin webmaster@dadams.com

  CustomLog "/var/log/apache2/wp.access.log" combined
  ErrorLog "/var/log/apache2/wp.error.log"

  DocumentRoot {{ documentroot }}

  <Directory {{ documentroot }}>
          Options Indexes FollowSymLinks MultiViews
          AllowOverride None
          Require all Granted
  </Directory>


</VirtualHost>
